* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

body {
  background: #ffe;
  font-size: 1em;
  color: #231f20;
  overflow: auto;
}



a {
  color: #000000;
  font-size: 1.2em;
}
#main {
  width: 100%;
}
#wrap {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 680px;
  margin-top: 10px;
}
#text {
  width: 40vw;
  height: 50vh;
  left: 50vw;
  top: 10vh;
  position: absolute;
}
#code {
  display: none;
  font-size: 1em;
}

#canvas {
  margin: 0 auto;
  top:0;
  left:0;
  
}

.say {
  margin-left: 1em;
  color: #000000;
}
.space {
  margin-left: 10vh;
}

